.quiz__search-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 1rem;
}

.quiz__search-form .btn-primary {
    background-color: #169bd6;
}


.card {
    margin: 8px 0;
}

.card-header {
    margin-top: 20px;
}

.all-tests {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#check-answers {
    margin-bottom: 10px;
}

.comment__item {
    max-width: 43.75rem;
    background-color: #e6f0ff;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.comment__item-names {
    display: flex;
    align-items: flex-start;
}

.comment__item-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    min-width: 400px;
}

.comment__item-name {
    font-size: 17px;
    font-weight: bold;
    flex-grow: 1;
}

.btn.btn-primary a {
    color: white;
    text-decoration: none;
}

.comment__item-buttons {
    display: flex;
    justify-content: flex-end;
}

.comment__item-buttons button {
    margin-left: 1rem;
}

.comments__box label {
    display: none;
}

.comments__box-name {
    font-size: 18px;
}

.comments__box-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comments__box-form .form-group:last-child {
    justify-content: flex-end;
}

.search-form {
    justify-content: flex-end;
    align-items: baseline;
}

.form-group.row textarea {
    height: 100px;
}

.edit-test {
    justify-content: space-between;
}

.media-list {
    padding-left: 0;
}

.tests-params {
    justify-content: space-between;
    align-items: baseline;
}

.submit {
    margin-left: 50px;
}


.create-test {
    flex-direction: column;
}

.question {
    padding-top: 20px;
    border-top: 2px solid grey;
    margin-top: 30px;
}

.btn-cancel {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 30px;
}