{% extends 'accounts/layout/index.html' %}
{% load bootstrap4 %}
{% block title %}
Создание теста
{% endblock %}
{% block content %}
<h2>Создание теста</h2>
<form method="post" enctype="multipart/form-data" class="create-test d-flex">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for question_form in formset.forms %}
    <div class="question" id="sectionForm">
        {{ question_form.as_p }}
    </div>
    {{ question_form.answer.management_form }}
    {{ question_form.answer.non_form_errors }}
    {% for answer_form in question_form.answer.forms %}
    <p>{{ answer_form }}</p>
    {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Создать</button>
    <a href="#" onclick="window.history.back(); return false;" title="Cancel" class="btn btn-primary btn-cancel"><i>Отмена</i></a>
</form>
{% endblock %}