{% extends 'layout/index.html' %}
{% load bootstrap4 %}
{% block title %}
Изменение теста
{% endblock %}
{% block content %}
<p>Изменение теста</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for question_form in formset.forms %}
    <div class="p-3 mb-2 bg-primary text-white" id="sectionForm">
        {{ question_form.as_p }}
    </div>
    {{ question_form.answer.management_form }}
    {{ question_form.answer.non_form_errors }}
    {% for answer_form in question_form.answer.forms %}
    <p>{{ answer_form }}</p>
    {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Изменить</button>
    <a href="#" onclick="window.history.back(); return false;" title="Cancel"><i>Отмена</i></a>
</form>
{% endblock %}