{% extends 'layout/index.html' %}
{% load bootstrap4 %}
{% block title %}
Тесты пользователя {{ user.username }}
{% endblock %}
{% block content %}
<div>
    <div>
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Поиск</button>
        </form>
    </div>
    {% if quizes %}
    <br>
    <h3>Все тесты пользователя {{ user.username }}</h3>
    {% for quiz in quizes %}
    <div class="container">
        <div class="row">
            <div class="p-3 mb-2 bg-secondary text-dark">
                {% url 'accounts:profile_quiz_detail' pk=quiz.pk as url %}
                <a href="{{ url }}{{ all }}" class="badge badge-info">{{ quiz.title }}
                </a>
                <p>Количество прохождений:
                    {{ quiz.counter_pass }}</p>
                <a href="{% url 'accounts:profile_quiz_detail' quiz.pk %}"
                   class="badge badge-info">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'accounts:quiz_add' %}">Создать тест</a>
<p><a href="{% url 'accounts:profile' %}"><i>Назад</i></a></p>
{% else %}
<h3>Вы не добавили ни одного теста</h3>
<a href="{% url 'accounts:quiz_add' %}">Создать тест</a>
<p><a href="{% url 'accounts:profile' %}"><i>Назад</i></a></p>
{% endif %}
{% endblock %}
