{% extends 'accounts/layout/index.html' %}

{% load bootstrap4 %}
{% block title %}
Редактирование комментария {{ comment.content }}
{% endblock %}

{% block content %}
<div class="about__container">
    <p class="about__name">Редактирование комментария</p>
    <div class="about__info">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Редактировать' %}{% endbuttons %}
        </form>
        <p class="btn-cancel_container"><a href="{% url 'tests:detail_quiz' pk=comment.quiz.pk %}">
            <button class="btn btn-primary btn-cancel btn-edit-comment">Отмена</button>
        </a></p>
    </div>
</div>
{% endblock %}